<html>
    <head>
        <title>Demo Application</title>
    </head>
    <body>
    <h3 class="parent_heading"> Page Visited - {{counter}}</h3>
    <h3 class="heading">Average response time - calculated at {{curr_date}}</h3>
        {% for k in dict_bag %}
            <fieldset>
                <div class="bounded-box">
                    <div class="label-box">
                        <strong>GCP - {{k}}</strong>
                    </div>
                    <div class="content-box">
                        <strong>{{dict_bag[k]}} ms</strong>
                    </div>
                </div>
            </fieldset>
            <hr class="blank_line" />
        {% endfor %}
    </body>
</html>


<style>
    .bounded-box{
        width: 100%;
        float:left;
    }
    .label-box{
        width: 25%;
        float:left;
    }
    .content-box{
        width: 70%;
        float: left;
    }
</style>
